button {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background-color: rgb(209 65 54);
}

.btn_img{
    height: 24px;
}