@font-face {
    font-family: Comfortaa;
    src: url(../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: Playfair_Display;
    src: url(../assets/fonts/Playfair_Display_SC/PlayfairDisplaySC-Bold.ttf);
}

body {
    font-family: Comfortaa;
    color: rgb(58, 1, 1);
}

/* HEADER */
header {
    background-color: rgb(254, 131, 0);
    padding: 16px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {height: 50px;}

.menu_icon{height: 50px; cursor: pointer;}

/* SLIDER */
.slider {
    background-image: url(../assets/imgs/pizza_plate_divided.jpg);
    height: 400px;
    background-size: cover;
}

/* ALL CONTENT */
.all_content {
    display: flex;
    max-width: 100dvw;
}

/* RESTAURANT SECTION */
.main_content {
    margin: 8px 32px;
    border: 2px solid rgb(58, 1, 1);
    border-radius: 15px;
}

.company_description {
    background-color:rgba(242, 174, 2, 0.23);
}

h1 {
    font-family: Playfair_Display;
    font-weight: 900;
    font-size: 36px;
    color: rgb(254, 131, 0);
}

.name_and_rating {
    display: flex;
    padding: 24px;
    margin: 4px;
    align-items: center;
    border: 2px solid rgb(58, 1, 1);
    border-radius: 15px;
    background-color:rgba(242, 174, 2, 0.23);
}

.rating {
    margin-left: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 12px;
}

.stars {
    height: 28px; 
    box-sizing: border-box; 
}

.path_of_dishes {
    display: flex;
    gap: 24px;
    padding: 24px;
    
}

.path_of_dishes img {
    height: 24px;
}

h4 {
    border:1px solid rgb(58, 1, 1);
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.custom_picture {
    overflow: hidden;
    height: 200px;
}

/* DISH CONTENT */
.dish_card {
    border: 2px solid rgb(58, 1, 1);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.dish_description {
    display: flex;
    flex-direction: column;
}

/* CART SECTION */
.cart_section {
    width: 200px;
    background-color:red;
}