@font-face {
    font-family: Comfortaa;
    src: url(../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: Playfair_Display;
    src: url(../assets/fonts/Playfair_Display_SC/PlayfairDisplaySC-Bold.ttf);
}

body {
    font-family: Comfortaa;
    color: black;
}

/* HEADER */
header {
    background-color: rgb(254, 131, 0);
    padding: 16px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(255, 132, 0, 0.2) 0px 7px 29px 0px;
}

.logo {height: 48px;}

.menu_icon{height: 50px; cursor: pointer;}

/*FOOTER*/
footer {
    background-color: rgb(254, 131, 0);
    padding: 16px 64px;
    text-align: right;
}

/* ALL CONTENT */
.all_content {
    display: flex;
}

/* RESTAURANT SECTION*/
.custom_logo {
    height:136px;
    position: absolute;
    top: 60vh;
    left: 30vw;
}

.slider {
    background-image: url(../assets/imgs/pasta_salad.jpg);
    height: 400px;
    background-size: cover;
}
.restaurant_section {
    width: calc(100dvw - 25%);
    /*background-color: rgba(242, 174, 2, 0.23);*/
}

.main_content {
    margin: 8px;
    border: 2px solid rgb(58, 1, 1);
    border-radius: 15px;
    box-shadow: rgba(100, 110, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
    font-family: Playfair_Display;
    font-weight: 900;
    font-size: 36px;
    color: rgb(254, 131, 0);
}

.name_and_rating {
    display: flex;
    padding: 24px;
    margin: 4px;
    align-items: center;
    border: 2px solid rgb(58, 1, 1);
    border-radius: 15px;
    background-color:rgba(242, 174, 2, 0.23);
}

.rating {
    margin-left: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 12px;
}

.stars {
    height: 28px; 
    box-sizing: border-box; 
}

.path_of_dishes {
    display: flex;
    gap: 24px;
    padding: 24px;
    
}

.path_of_dishes img {
    height: 24px;
}

h4 {
    border:1px solid rgb(58, 1, 1);
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.custom_picture {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: -0px -380px;
}

/* DISH CONTENT */
.dish_card {
    border: 2px solid rgb(58, 1, 1);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    height: 140px;
    margin: 16px 30px;
    padding: 16px;
}

.dish_card:hover {box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.dish_card:hover h3 {color: rgb(209 65 54);}

.dish_description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price {
    font-size:22px;
    color: red;
    font-weight: 900;
    margin-top: 8px;
}

.euro {color: rgb(58, 1, 1); font-weight:500; font-size:medium}

.dish_description {
    display: flex;
    flex-direction: column;
}  

/* CART SECTION */
.cart_section {
    position: sticky;
    top: 0;
    height: calc(100% - 30px);
    border: 2px solid rgb(58, 1, 1);
    border-radius: 15px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(111, 100, 101, 0.2) 0px 7px 29px 0px;
}

h2 {
    background-color: rgb(209 65 54);
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding:24px;
    border-radius: 13px 13px 0 0;
}

.cart_content_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    text-align: center;
    gap: 16px;
    min-height: calc(100dvh - 211px);
}

.cart_content_empty img {
    height: 36px;
}

.cart_content_full {
    padding: 16px;
}

h5 {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.added_meal {
    margin-top: 24px;
}

.customize_cart {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.divide {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.216);
    box-shadow: rgba(157, 149, 150, 0.2) 0px 7px 29px 0px;
    margin-top: 16px;
}

table {
    width: 100%;
    margin-top: 16px;
}

.accentuate {
    font-weight: 900;
    height: 36px;
}